.bord {
    border: solid red 1px;
}

.txlr {
    text-align: left;
}

.jtfy {
    text-align: justify;
    text-justify: inter-word;
}

.pdl {
    padding-left: 33%;
}


td {
    border: solid white 1px;
    min-width: 90px;

}

.ndc {
    text-decoration: none;
}