/* Modified from open source For personal and community use by https://github.com/subbrat/ */
.sbc-marigold {
    color: #fff !important;
    background-color: #FDAC53 !important
}

.sbc-cerulean {
    color: #000 !important;
    background-color: #9BB7D4 !important
}

.sbc-rust {
    color: #fff !important;
    background-color: #B55A30 !important
}

.sbc-illuminating {
    color: #000 !important;
    background-color: #F5DF4D !important
}

.sbc-french-blue {
    color: #fff !important;
    background-color: #0072B5 !important
}

.sbc-fgrn {
    color: #000 !important;
    background-color: #A0DAA9 !important
}

.sbc-burnt-coral {
    color: #fff !important;
    background-color: #E9897E !important
}

.sbc-mint {
    color: #fff !important;
    background-color: #00A170 !important
}

.sbc-amethyst-orchid {
    color: #fff !important;
    background-color: #926AA6 !important
}

.sbc-raspberry-sorbet {
    color: #fff !important;
    background-color: #D2386C !important
}

.sbc-ink {
    color: #fff !important;
    background-color: #363945 !important
}

.sbc-ugr {
    color: #fff !important;
    background-color: #939597 !important
}

.sbc-butter {
    color: #000 !important;
    background-color: #EFE1CE !important
}

.sbc-desert-mist {
    color: #000 !important;
    background-color: #E0B589 !important
}

.sbc-willow {
    color: #fff !important;
    background-color: #9A8B4F !important
}

.sbc-whit {
    color: #000 !important;
    background-color: #EDF1FF !important
}